__pycache__
*.pyc
.venv
filterd
images
intervals
ocr
reports
tmp
logs
active_process.txt
com.*.capturescreen.plist
com.*.workingnotes.plist
!com.examples.capturescreen.plist
!com.examples.workingnotes.plist
